Repository SEPP-SSH/Shared-Groceries, pull requests merged in 2024-12, with the labels that each got.

#45 📝 Added details to README.md.
  README.md
Labels: enhancement

#46 Version 0.1 of the app finished
  Android/app/build.gradle.kts
  Android/app/src/main/AndroidManifest.xml
  Android/app/src/main/java/uk/co/xeiverse/ssh/adapters/BasketAdapter.java
  Android/app/src/main/java/uk/co/xeiverse/ssh/adapters/CategoryTabsAdapter.java
  Android/app/src/main/java/uk/co/xeiverse/ssh/adapters/GroceryItemsAdapter.java
  Android/app/src/main/java/uk/co/xeiverse/ssh/adapters/GroceryStoreAdapter.java
  Android/app/src/main/java/uk/co/xeiverse/ssh/helpers/ServerHelper.java
  Android/app/src/main/java/uk/co/xeiverse/ssh/objects/GroceryItem.java
  Android/app/src/main/java/uk/co/xeiverse/ssh/objects/GroceryStore.java
  Android/app/src/main/java/uk/co/xeiverse/ssh/objects/Housemate.java
  Android/app/src/main/java/uk/co/xeiverse/ssh/ui/shop/BasketFragment.java
  Android/app/src/main/java/uk/co/xeiverse/ssh/ui/shop/BrowseFragment.java
  Android/app/src/main/java/uk/co/xeiverse/ssh/ui/shop/CategoryFragment.java
  Android/app/src/main/java/uk/co/xeiverse/ssh/ui/shop/ShopFragment.java
  Android/app/src/main/res/drawable/ic_add_black_24.png
  Android/app/src/main/res/drawable/ic_basket_black_24.png
  Android/app/src/main/res/drawable/ic_remove_black_24.png
  Android/app/src/main/res/drawable/ic_shop_black_24.png
  Android/app/src/main/res/drawable/myrect.xml
  Android/app/src/main/res/drawable/spinner_bg.xml
  Android/app/src/main/res/layout/activity_main.xml
  Android/app/src/main/res/layout/fragment_basket.xml
  Android/app/src/main/res/layout/fragment_browse_groceries.xml
  Android/app/src/main/res/layout/fragment_shop.xml
  Android/app/src/main/res/layout/item_basket.xml
  Android/app/src/main/res/layout/item_grocery.xml
  Android/app/src/main/res/layout/row_spinner.xml
  Android/app/src/main/res/layout/tab_categories.xml
  Android/app/src/main/res/navigation/mobile_navigation.xml
  Android/app/src/main/res/values/strings.xml
  Android/gradle/libs.versions.toml
Labels: SSH-App

#51 Version 0.2 Complete
  Android/app/build.gradle.kts
  Android/app/src/main/java/uk/co/xeiverse/ssh/adapters/BasketAdapter.java
  Android/app/src/main/java/uk/co/xeiverse/ssh/adapters/CategoryTabsAdapter.java
  Android/app/src/main/java/uk/co/xeiverse/ssh/adapters/GroceryItemsAdapter.java
  Android/app/src/main/java/uk/co/xeiverse/ssh/helpers/ServerHelper.java
  Android/app/src/main/java/uk/co/xeiverse/ssh/objects/BasketItem.java
  Android/app/src/main/java/uk/co/xeiverse/ssh/ui/settings/SettingsFragment.java
  Android/app/src/main/java/uk/co/xeiverse/ssh/ui/shop/BasketFragment.java
  Android/app/src/main/java/uk/co/xeiverse/ssh/ui/shop/BrowseFragment.java
  Android/app/src/main/java/uk/co/xeiverse/ssh/ui/shop/CategoryFragment.java
  Android/app/src/main/java/uk/co/xeiverse/ssh/ui/shop/ShopFragment.java
  Android/app/src/main/res/drawable/profile.jpg
  Android/app/src/main/res/layout/fragment_settings.xml
  Android/app/src/main/res/layout/fragment_shop.xml
  Android/app/src/main/res/layout/item_basket.xml
  Android/app/src/main/res/layout/item_grocery.xml
  Android/app/src/main/res/layout/row_spinner.xml
  Android/app/src/main/res/values/strings.xml
  Android/gradle/libs.versions.toml
Labels: SSH-App

#57 Merge in the SSH Cloud feature
  SSH-Cloud/.gitignore
  SSH-Cloud/Dockerfile
  SSH-Cloud/Tables.zip
  SSH-Cloud/docker-compose.yml
  SSH-Cloud/pom.xml
  SSH-Cloud/src/main/java/ssh/Main.java
  SSH-Cloud/src/main/java/ssh/QueryServicer.java
  SSH-Cloud/src/main/java/ssh/entities/Basket.java
  SSH-Cloud/src/main/java/ssh/entities/BasketItem.java
  SSH-Cloud/src/main/java/ssh/entities/Category.java
  SSH-Cloud/src/main/java/ssh/entities/House.java
  SSH-Cloud/src/main/java/ssh/entities/Housemate.java
  SSH-Cloud/src/main/java/ssh/entities/Item.java
  SSH-Cloud/src/main/java/ssh/entities/Store.java
  SSH-Cloud/src/main/java/ssh/handlers/BasketHandler.java
  SSH-Cloud/src/main/java/ssh/handlers/BasketItemHandler.java
  SSH-Cloud/src/main/java/ssh/handlers/CategoryHandler.java
  SSH-Cloud/src/main/java/ssh/handlers/HouseHandler.java
  SSH-Cloud/src/main/java/ssh/handlers/HousemateHandler.java
  SSH-Cloud/src/main/java/ssh/handlers/ItemHandler.java
  SSH-Cloud/src/main/java/ssh/handlers/StoreHandler.java
  SSH-Cloud/src/main/java/ssh/supermarketAPIs/MoneyBurnerMarket.java
  SSH-Cloud/src/main/java/ssh/utilities/DatabaseExporter.java
  SSH-Cloud/src/main/java/ssh/utilities/HibernateUtility.java
  SSH-Cloud/src/main/java/ssh/utilities/JsonUtilities.java
  SSH-Cloud/src/main/resources/Item.json
  SSH-Cloud/src/main/resources/basket.json
  SSH-Cloud/src/main/resources/basketitem.json
  SSH-Cloud/src/main/resources/category.json
  SSH-Cloud/src/main/resources/hibernate.cfg.xml
  SSH-Cloud/src/main/resources/house.json
  SSH-Cloud/src/main/resources/housemate.json
  SSH-Cloud/src/main/resources/store.json
  SSH-Cloud/src/test/java/ssh/unitTests/handlers/BasketHandlerTests.java
  SSH-Cloud/src/test/java/ssh/unitTests/handlers/BasketItemHandlerTests.java
  SSH-Cloud/src/test/java/ssh/unitTests/handlers/CategoryHandlerTests.java
  SSH-Cloud/src/test/java/ssh/unitTests/handlers/HouseHandlerTests.java
  SSH-Cloud/src/test/java/ssh/unitTests/handlers/HousemateHandlerTests.java
  SSH-Cloud/src/test/java/ssh/unitTests/handlers/ItemHandlerTests.java
  SSH-Cloud/src/test/java/ssh/unitTests/handlers/StoreHandlerTests.java
  SSH-Cloud/src/test/java/ssh/unitTests/queries/QueryServicerTests.java
  SSH-Cloud/src/test/java/ssh/utilityTests/DatabaseExporterTest.java
  SSH-Cloud/src/test/java/ssh/utilityTests/JsonUtilitiesTest.java
Labels: SSH-Cloud

#59 Added total prices views
  Android/app/src/main/java/uk/co/xeiverse/ssh/adapters/BasketAdapter.java
  Android/app/src/main/java/uk/co/xeiverse/ssh/helpers/ServerHelper.java
  Android/app/src/main/java/uk/co/xeiverse/ssh/ui/shop/BasketFragment.java
  Android/app/src/main/res/layout/fragment_basket.xml
  Android/app/src/main/res/values/strings.xml
Labels: SSH-App

#60 Added Networking to SSH App
  Android/app/build.gradle.kts
  Android/app/src/main/java/uk/co/xeiverse/ssh/adapters/BasketAdapter.java
  Android/app/src/main/java/uk/co/xeiverse/ssh/adapters/CategoryTabsAdapter.java
  Android/app/src/main/java/uk/co/xeiverse/ssh/adapters/GroceryItemsAdapter.java
  Android/app/src/main/java/uk/co/xeiverse/ssh/adapters/GroceryStoreAdapter.java
  Android/app/src/main/java/uk/co/xeiverse/ssh/helpers/ServerHelper.java
  Android/app/src/main/java/uk/co/xeiverse/ssh/networking/Client.java
  Android/app/src/main/java/uk/co/xeiverse/ssh/networking/ReturnedBasket.java
  Android/app/src/main/java/uk/co/xeiverse/ssh/networking/entities/Basket.java
  Android/app/src/main/java/uk/co/xeiverse/ssh/networking/entities/BasketItem.java
  Android/app/src/main/java/uk/co/xeiverse/ssh/networking/entities/Category.java
  Android/app/src/main/java/uk/co/xeiverse/ssh/networking/entities/House.java
  Android/app/src/main/java/uk/co/xeiverse/ssh/networking/entities/Housemate.java
  Android/app/src/main/java/uk/co/xeiverse/ssh/networking/entities/Item.java
  Android/app/src/main/java/uk/co/xeiverse/ssh/networking/entities/Store.java
  Android/app/src/main/java/uk/co/xeiverse/ssh/networking/queryParameterWrappers/AddToBasketQueryParameter.java
  Android/app/src/main/java/uk/co/xeiverse/ssh/networking/queryParameterWrappers/RemoveFromBasketQueryParameter.java
  Android/app/src/main/java/uk/co/xeiverse/ssh/networking/queryParameterWrappers/ReturnBasketIdQueryParameter.java
  Android/app/src/main/java/uk/co/xeiverse/ssh/networking/queryParameterWrappers/ReturnCategoriesQueryParameter.java
  Android/app/src/main/java/uk/co/xeiverse/ssh/networking/queryParameterWrappers/ReturnHousematesQueryParameter.java
  Android/app/src/main/java/uk/co/xeiverse/ssh/networking/queryParameterWrappers/ReturnItemsQueryParameter.java
  Android/app/src/main/java/uk/co/xeiverse/ssh/networking/queryParameterWrappers/ReturnStoresQueryParameter.java
  Android/app/src/main/java/uk/co/xeiverse/ssh/networking/queryParameterWrappers/SubmitOrderQueryParameter.java
  Android/app/src/main/java/uk/co/xeiverse/ssh/networking/utilities/JsonUtilities.java
  Android/app/src/main/java/uk/co/xeiverse/ssh/objects/BasketItem.java
  Android/app/src/main/java/uk/co/xeiverse/ssh/objects/GroceryItem.java
  Android/app/src/main/java/uk/co/xeiverse/ssh/objects/GroceryStore.java
  Android/app/src/main/java/uk/co/xeiverse/ssh/objects/Housemate.java
  Android/app/src/main/java/uk/co/xeiverse/ssh/ui/shop/BasketFragment.java
  Android/app/src/main/java/uk/co/xeiverse/ssh/ui/shop/BrowseFragment.java
  Android/app/src/main/java/uk/co/xeiverse/ssh/ui/shop/CategoryFragment.java
  Android/app/src/main/java/uk/co/xeiverse/ssh/ui/shop/ShopFragment.java
  Android/gradle/libs.versions.toml
Labels: SSH-Cloud, SSH-App

#62 Update QueryServicerTests.java
  SSH-Cloud/src/test/java/ssh/unitTests/queries/QueryServicerTests.java
Labels: SSH-Cloud

#66 Added Unit and Instrumented Tests for Adapters and Fragments
  Android/app/src/androidTest/java/uk/co/xeiverse/ssh/ExampleInstrumentedTest.java
  Android/app/src/test/java/uk/co/xeiverse/ssh/ExampleUnitTest.java
Labels: SSH-App

#68 Milestone 1 Documentation
  Documentation/Initial Planning.md
  Documentation/README.md
  Documentation/SSH App/App Backend.md
  Documentation/SSH App/App UI.md
  Documentation/SSH App/Attachments/Screenshot1.png
  Documentation/SSH App/Attachments/Screenshot2.png
  Documentation/SSH App/Attachments/Screenshot3.png
  Documentation/SSH App/Attachments/SettingsSS.png
  Documentation/SSH App/Testing.md
  Documentation/SSH Cloud/Attachments/SSH Cloud Database Design.png
  Documentation/SSH Cloud/Database Queries.md
  Documentation/SSH Cloud/Database Schema.md
  Documentation/SSH Cloud/tests.md
  Documentation/Selected EDR.pdf
  README.md
Labels: documentation, SSH-Cloud, SSH-App

#73 Milestone 2 Documentation
  Documentation/End of Milestone Reports.md
  Documentation/Initial Planning.md
  Documentation/SSH App/App UI.md
  Documentation/SSH Cloud/Attachments/SSH Cloud Docker Structure.png
  Documentation/SSH Cloud/Containerisation and Orchestration.md
  Documentation/SSH Cloud/Database Queries.md
  Documentation/SSH Cloud/tests.md
Labels: documentation, SSH-Cloud, SSH-App

#74 Milestone 3 Documentation
  Documentation/End of Milestone Reports.md
  Documentation/Initial Planning.md
  Documentation/SSH Cloud/Database Queries.md
  Documentation/SSH Cloud/SSH Cloud Tests.md
Labels: documentation, SSH-Cloud, SSH-App

#64 Added foundations for SSH App to integrate with SSH Cloud
  Android/app/src/main/java/uk/co/xeiverse/ssh/MainActivity.java
  Android/app/src/main/java/uk/co/xeiverse/ssh/helpers/ServerHelper.java
  Android/app/src/main/java/uk/co/xeiverse/ssh/networking/Client.java
  Android/app/src/main/java/uk/co/xeiverse/ssh/ui/settings/SettingsFragment.java
Labels: SSH-Cloud, SSH-App

#76 Merge in the changes to unit tests in SSH Cloud
  SSH-Cloud/src/main/java/ssh/handlers/CategoryHandler.java
  SSH-Cloud/src/main/java/ssh/handlers/HouseHandler.java
  SSH-Cloud/src/main/java/ssh/handlers/HousemateHandler.java
  SSH-Cloud/src/main/java/ssh/handlers/ItemHandler.java
  SSH-Cloud/src/main/java/ssh/handlers/StoreHandler.java
  SSH-Cloud/src/test/java/ssh/unitTests/handlers/BasketItemHandlerTests.java
  SSH-Cloud/src/test/java/ssh/unitTests/handlers/CategoryHandlerTests.java
  SSH-Cloud/src/test/java/ssh/unitTests/handlers/HouseHandlerTests.java
  SSH-Cloud/src/test/java/ssh/unitTests/handlers/HousemateHandlerTests.java
  SSH-Cloud/src/test/java/ssh/unitTests/handlers/ItemHandlerTests.java
  SSH-Cloud/src/test/java/ssh/unitTests/handlers/StoreHandlerTests.java
Labels: SSH-Cloud

#78 Milestone 4 Documentation
  Documentation/Attachments/prototype-in-action-1.png
  Documentation/Attachments/prototype-in-action-10.png
  Documentation/Attachments/prototype-in-action-11.png
  Documentation/Attachments/prototype-in-action-12.png
  Documentation/Attachments/prototype-in-action-13.png
  Documentation/Attachments/prototype-in-action-14.png
  Documentation/Attachments/prototype-in-action-2.png
  Documentation/Attachments/prototype-in-action-3.png
  Documentation/Attachments/prototype-in-action-4.png
  Documentation/Attachments/prototype-in-action-5.png
  Documentation/Attachments/prototype-in-action-6.png
  Documentation/Attachments/prototype-in-action-7.png
  Documentation/Attachments/prototype-in-action-8.png
  Documentation/Attachments/prototype-in-action-9.png
  Documentation/End of Milestone Reports.md
  Documentation/Initial Planning.md
  Documentation/SSH App/App Backend.md
  Documentation/SSH Cloud/Attachments/SSH Cloud Docker Structure.png
  Documentation/SSH Cloud/Attachments/SSH Cloud Integration Testing Docker Structure.png
  Documentation/SSH Cloud/Attachments/SSH Cloud Production Docker Structure.png
  Documentation/SSH Cloud/Attachments/SSH Cloud Unit Testing Docker Structure.png
  Documentation/SSH Cloud/Containerisation and Orchestration.md
  Documentation/SSH Cloud/Database Queries.md
  Documentation/See the Prototype In Action.md
Labels: documentation, SSH-Cloud, SSH-App

#80 Assignment Specific Content
  .mailmap
  Assignment Report & Reflections.md
  Documentation/Attachments/GitHub Actions.jpeg
  Documentation/Attachments/Issues Tracking - Milestone 2.png
  Documentation/Attachments/Kanban.png
  Documentation/Attachments/Pull request example.png
  Documentation/Attachments/Rulesets.png
  Documentation/Attachments/Successful Action.png
Labels: documentation

#81 Add in final changes to repository before submission
  Documentation/Initial Planning.md
  Documentation/README.md
  Documentation/SSH App/Testing.md
  README.md
Labels: documentation, devops
